/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tangerine', cursive; */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    text-decoration: none;
    color: #ffb03b;
}

a:hover {
    color: #ffc56e;
    text-decoration: none;
}

section {
    padding: 60px 0px;
    overflow: hidden;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

/*--------------------------------------------------------------
  # Book a table button Menu
  --------------------------------------------------------------*/
.book-a-table-btn {
    background: #f8bf2c;
    color: #454545;
    margin: 0 0 0 20px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 700;
    border: 2px solid #f8bf2c;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    white-space: nowrap;
    border-radius: 3px 3px;
}

.book-a-table-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media (max-width: 992px) {
    .book-a-table-btn {
        margin: 0 15px 0 0;
        padding: 8px 20px;
        letter-spacing: 1px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 24px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #ffb03b;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #433f39;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #ffb03b;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(39, 37, 34, 0.9);
    transition: 0.3s;
    z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #433f39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #ffb03b;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #ffb03b;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}

#hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-content {
    text-align: center;
}

#hero h2 {
    color: #fff;
    padding: 0px 0px 7px;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    transition: none 0s ease 0s;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

#hero h2 span {
    color: #ffb03b;
}

#hero img {
    width: 241.935px;
    height: 120.968px;
    line-height: 17px;
    margin-bottom: 20px;
}

#hero p {
    /* width: 80%; */
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    font-style: italic;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
}

#hero .btn-menu,
#hero .btn-book {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px;
    letter-spacing: 2px;
    border-radius: 0px;
    font-style: normal;
    transition: none 0s ease 0s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: rgba(255, 255, 255, 0.99);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.99);
    background-color: rgba(0, 0, 0, 0);
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
}

#hero .btn-menu:hover,
#hero .btn-book:hover {
    background: rgba(255, 255, 255, 0.158);
    color: #fff;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 100%;
    }

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}


/*--------------------------------------------------------------
  # Discover
  --------------------------------------------------------------*/
.discover .our-history span {
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    text-align: center;
}

.discover .our-history h2 {
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 20px 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.discover .our-history p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    margin-bottom: 40px;
}

.common-btn {
    position: relative;
    color: white;
    background-color: #F2B410;
    border-color: #F2B410;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 18px 32px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
    transition: all 0.25s ease-in-out;
}

.common-btn::before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
}

.common-btn:hover {
    color: white;
    background-color: #F39C12;
}

.imags-wrapper {
    position: relative;
}

.imags-wrapper:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}


/*--------------------------------------------------------------
  # images secation
  --------------------------------------------------------------*/
.images-secation {
    background-image: url(img/bg4.jpg);
    width: 100%;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 130px 0px;
}

.coming-text {
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    text-align: center;
}

.secation-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    /* margin: 0 0 30px 0; */
    font-weight: 700;
    letter-spacing: 2px;
}

.image-overlay {
    background: rgba(34, 34, 34, 0.40);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image-section-inside {
    position: relative;
    z-index: 100;
}


/*--------------------------------------------------------------
  # Best Recipes
  --------------------------------------------------------------*/
.Best-recipes {
    width: 100%;
    position: relative;
    background: url(img/bg8.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    color: white;
    margin: 0 auto;
    padding: 120px 0px;
}

.Best-recipes .best-title span {
    font-size: 80px;
    font-family: 'Tangerine', cursive;
    line-height: 60px;
    color: #F2B410;
    text-align: center;
}

.Best-recipes .best-title h3 {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.menu-content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-content::after {
    content: "..............""............"".............";
    position: absolute;
    left: 155px;
    right: 0;
    top: -2px;
    z-index: 1;
    color: #fff;
}

.menu-content a {
    padding-right: 15px;
    position: relative;
    z-index: 3;
    font-size: 18px;
    font-weight: 700;
    color: white;
    transition: 0.3s;
}

.menu-content span {
    position: relative;
    z-index: 3;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 700;
    color: #F2B410;
    padding: 0 10px;
}

.menu-deaitls {
    color: #eee;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 15px;
}

.full-menu {
    margin-top: 20px;
    text-align: center;
}

.full-menu a i {
    font-size: 18px;
    margin-right: 10px;
    color: #f8bf2c;
}

.full-menu a {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 16px 32px;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 0.25s ease-in-out;
}

.full-menu a:hover {
    color: #F2B410;
    background-color: #fff;
    border-color: white;
}

/*--------------------------------------------------------------
  # Latest News
  --------------------------------------------------------------*/
.latest-news {
    padding: 90px 0 60px 0;
}

.latest-news-title {
    margin-bottom: 40px;
}

.latest-news-title span {
    font-size: 80px;
    color: #F2B410;
    line-height: 60px;
    font-family: 'Tangerine', cursive;
    text-align: center;
}

.latest-news-title h2 {
    color: #252525;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.blog-item {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff;
}

.popup-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}

.popup-gallery {
    display: inline-block;
    position: relative;
}

.blog-item-pic {
    display: inline-block;
    position: relative;
}

.blog-item-pic::before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.blog-item-pic img {
    z-index: 10;
    width: 100%;
    height: auto;
    transition: all 0.25s ease-in-out;
}

.eye-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
    height: 100%;
    top: 0%;
    margin-top: 0px;
    left: 0%;
    right: 0%;
    color: #fff;
    text-align: center;
    font-weight: 300;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.fa-link {
    position: absolute;
    display: inline-block;
    font-size: 48px;
    z-index: 3;
    top: 50% !important;
    margin-top: -24px !important;
    left: 0%;
    right: 0%;
}

.popup-gallery::after {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.popup-gallery:hover .eye-wrapper {
    opacity: 1;
}

.blog-item-inner {
    padding: 1px 25px 20px 25px;
}

.blog-title {
    margin-top: 20px;
    margin-bottom: 1px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
}

.best-title,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #252525;
}

.best-title,
a:hover {
    color: #F2B410;
}

.blog-item-inner p {
    margin: 10px 0 30px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.common-btn2 {
    position: relative;
    color: white;
    background-color: #F2B410;
    border-color: #F2B410;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 14px 28px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    transition: all 0.25s ease-in-out;
}

.common-btn2::before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
}

.common-btn2:hover {
    color: white;
    background-color: #F39C12;
}


/*--------------------------------------------------------------
  # footers secation
  --------------------------------------------------------------*/
.footers {
    width: 100%;
    position: relative;
    background-image: url(img/footer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 0px;
}

.footers-top {
    padding: 65px 0 15px 0;
    border-bottom: 2px dotted #999;
}

.footers .about-us {
    margin-bottom: 50px;
}

.about-us h4 {
    font-size: 16px;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-us h4::after {
    position: absolute;
    content: '';
    background-color: #F2B410;
    height: 3px;
    width: 40px;
    bottom: -1px;
    left: 0;
}

.footers .about-us p {
    color: #ddd;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer-list {
    display: block;
    margin: 0;
    list-style: none;
    padding: 0;
    color: #777;
    font-size: 14px;
    line-height: 24px;
}

.first {
    padding-top: 0;
    padding: 5px 0px;
    border-bottom: 1px solid #999;
    font-size: 14px;
    line-height: 28px;
}

.first a {
    color: #ddd;
    font-size: 14px;
    line-height: 28px;
}

.first a:hover {
    color: #F2B410;
}

.footer-list,
li {
    padding: 5px 0;
    border-bottom: 1px px solid #999;
}

.instram-photos img {
    border: 5px solid #252525;
    cursor: pointer;
}

.contact-info {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #ddd;
    margin-bottom: 6px !important;
}

.contact-info i {
    font-size: 18px;
    padding-right: 5px;
}

/* footer-bottom */
.footer-bottom {
    padding: 30px 0 20px 0;
}
.copyright p {
    color: #999;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.copyright p a {
    font-size: 16px;
    color: #999;
    text-decoration: underline;
}
.footer-social {
    display: flex;
    color: #999;
    align-items: center;
    gap: 15px;
    justify-content: end;
}
.footer-social p {
    margin-bottom: 0px;
    font-size: 14px;
}
.footer-social a {
    color: #999;
}
.footer-social i {
    font-size: 22px;
}